.carts-wrapper {
    border-radius: 10px;
    padding: 60px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: #F7F7F7;
}

@media screen and (max-width: 1250px) {
    .carts-wrapper {
        background-color: white;
    }
}