.carts-kasa {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.carts-img {
    object-fit: cover;
    width: 340px;
    height: 340px;
    background: #FF6060;
    border-radius: 10px;
}

.carts-text {
    margin: 20px;
    position: relative;
    bottom: 22.5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
}