h1 {
      color: #FFFFFF;
      font-weight: 500;
}

.bandeau {
      width: 100%;
      background: #FF6060;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      height: 47px;
      margin-bottom: 31px;
      border: none;
      cursor: pointer;
}

.fleche {
      transform: rotate(270deg);
      color: white;
}

.text-wrapper {
      background: #F7F7F7;
      border-radius: 5px;
      position: relative;
      top: -31px;
}

.content-text {
      padding: 36px 27px 19px 18px;
      color: #FF6060;
}

p,
h1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 142.6%;

}